body{
    padding: 20px;
}
.boxed-list{
    display: flex;
    align-items: center;
    gap:20px
}
.boxed-item{
    width: 100px;
    aspect-ratio: 1;
    background-color: hsl(195, 100%, 59%);
}