
*,
*::before,
*::after{
    box-sizing: border-box;
}
.boxed{
    height: 200px;
    width: 200px;
    background-image: linear-gradient( to right,blue ,green );;
    border-radius: 8px;
}
