
*,
*::before,
*::after{
    box-sizing: border-box;
}
.boxed{
    height: 200px;
    width: 200px;
    background-color:  linear-gradient(to right, rgba(10, 10, 138, 0.582rgba)(12, 218, 12, 0.452));
    border-radius: 8px;
}
