/*Main code*/
body{
  font-family: serif;
}
/* :where(div, article ,section, main) p {
  font-style: italic;
  margin-bottom: 2.5rem;
} */
:is(div, article ,section, main) p {
  font-style: italic;
  margin-bottom: 2.5rem;
}