body{
 background-color: black;
  padding: 20px;
}

.quare{
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: relative;
  transform: rotate(45deg);

  animation: bounce 1s infinite alternate ;
}


.point{
width: 20px;
height: 20px;
border-radius: 100rem;
background-color: purple;
position: absolute;
top: 0;
right: 0;
}

@keyframes bounce {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
