body{
 background-color: black;
  padding: 20px;
}

.quare{
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: relative;
  transform: rotate(180deg);
  transform-origin: top-left;
}


.point{
width: 20px;
height: 20px;
border-radius: 100rem;
background-color: purple;
position: absolute;
bottom: 0;
right: 0;
}