html{
    font-size: 62.5%;
}

.box1{
    width: 10rem;
    height: 10rem;
    background-color: aqua;
    font-size: 20px;
}

.box2{
    width: 10em;
    height: 10em;
    background-color: blue;
    /*1em=20px*/
}

/*1em=1rem=16px*/
/*1em=1rem)x100px/62.5%=10px*/