.button {
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: none;
  border: none;
  font-size: 20px;
  color: rgb(247, 237, 237);
  padding: 15px 30px;
  background-color: #450570;
  cursor: pointer;
}
@media screen and (max-width: 1023.98px) {
.button {
padding: 10px 20px;
font-size: 12px;
}
}

body{
  background-color: #450570;
}
