.button {
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: none;
  border: none;
  font-size: 20px;
  color: rgb(247, 237, 237);
  padding: 15px 30px;
  background-color: #450570;
  cursor: pointer;
}
@media screen and (max-width: 1023.98px) {
.button {
padding: 10px 20px;
font-size: 12px;
}
}

/* body{
  /* background-color: #450570; */

/* .boxed{
  width: 100px;
  height: 100px;background-color: wheat;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-inline:auto;
  /* margin-inline > left and right*/

  /* margin-block:20px; */ 
  /* margin-block > top and bottom*/
  /* padding-inline: 10px;
  padding-block: 20px; */

