body{
    background-color: black;
    margin: 0 auto;
}
.ghost{
    width: 100px;
    height: 100px;
    background-color: rgb(235, 217, 217);
    margin: 100px;
    border-radius: 100rem 100rem 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ghost 1.5s cubic-bezier(0.215, 0.610, 0.355, 1) alternate infinite;
}
.ghost::before{
    content: "";
    width: 20px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    border-radius: 0  0 100rem 100rem;
    box-shadow:  20px 0 0 white,40px 0 0 0 white, 60px 0 0 0 white,
    80px 0 0 0 white;
}
.ghost-body{
    width: 100%;
    max-width: 50%;
   
    height: 50px;
}
.ghost-eyes{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100rem;
    box-shadow: 30px 0 0 0 black;
}
.ghost-lip{
    width: 100%;
    max-width: 80%;
    margin: 10px auto 0;
    background-color: rgb(19, 18, 18);
    height: 20px;
    border-radius: 0 0 100rem 100rem;
    position: relative;
}
.ghost-lip::before{
    content: "";
    position: absolute;
    left: 30%;
    width: 50px;
    height: 5px;
   
}
.ghost::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(247, 242, 242);
    border-radius: 100rem;
    position: absolute;
    left: 100px;
    box-shadow: 100px 0 0 0 rgb(29, 28, 28);
}
@keyframes ghost {
    to{
        transform: translateY(30%);

    }
}