.boxed {
  width: 300px;
  height: 500px;
  background-color: rgb(1, 1, 90);
  margin: 0 auto;
}
/*
1.border-image-slice: ,   border-image-source
*/
.boxed {
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right  bottom,#FF6651,#2cccff);
  border-radius: 20px;
}