.star{
    margin:0 auto;
    width: 200px;
    height: 200px;
    background-color: #0018a0;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    border-radius: 10px;
}
img{
background-size: cover;
  width: 100%;
  
}
body{
    padding-left: 50px;;
}