body{
  height: 500vh;
}

body::-webkit-scrollbar{
  width: 100px;
}
body::-webkit-scrollbar-thumb{
  background-color: blue;
  border-radius: 10px;
  width: 10px;
}

body::-webkit-scrollbar-track{
  background-color: red;
}